subscriptions:
  cacheAttributes: [
    'emitterUuid'
    'subscriberUuid'
    'type'
  ]
devices:
  cacheAttributes: [
    'uuid'
    'meshblu.hash'
  ]
tokens:
  cacheAttributes: [
    'uuid'
    'hashedToken'
  ]
