subscriptions:
  useQueryCache: true
  cacheAttributes: [
    'emitterUuid'
    'subscriberUuid'
    'type'
  ]
devices:
  cacheAttributes: [
    'uuid'
    'meshblu.hash'
  ]

tokens:
  useQueryCache: true
  cacheAttributes: [
    'uuid'
    'hashedToken'
  ]
