Authenticate:
  start: 'check-token'
  tasks:
    'check-token-black-list':
      task: 'meshblu-core-task-check-token-black-list'
      cacheNamespace: 'meshblu-token-black-list'
      on:
        204: 'check-token'
    'check-token':
      task: 'meshblu-core-task-check-token'
      datastoreCollection: 'tokens'
      on:
        401: 'check-root-token'
    'check-root-token':
      task: 'meshblu-core-task-check-root-token'
      datastoreCollection: 'devices'
      on:
        204: 'migrate-root-token'
        401: 'forbid'
    'migrate-root-token':
      task: 'meshblu-core-task-migrate-root-token'
      datastoreCollection: 'tokens'
    'black-list-token':
      task: 'meshblu-core-task-black-list-token'
      cacheNamespace: 'meshblu-token-black-list'
      on:
        204: 'forbid'
    'forbid':
      task: 'meshblu-core-task-forbidden'

EnforceConfigureWhitelists:
  start: 'enforce-configure-as-whitelist'
  tasks:
    'enforce-configure-as-whitelist':
      filter: 'EnforceConfigureAsWhitelist'
      on:
        204: 'check-configure-whitelist'
    'check-configure-whitelist':
      task: 'meshblu-core-task-check-configure-whitelist'
      datastoreCollection: 'devices'

EnforceConfigureAsWhitelist:
  start: 'check-configure-as-protect-your-as'
  tasks:
    'check-configure-as-protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-configure-as-whitelist'
    'check-configure-as-whitelist':
      task: 'meshblu-core-task-check-configure-as-whitelist'
      datastoreCollection: 'devices'

EnforceDiscoverWhitelists:
  start: 'enforce-discover-as-whitelist'
  tasks:
    'enforce-discover-as-whitelist':
      filter: 'EnforceDiscoverAsWhitelist'
      on:
        204: 'check-discover-whitelist'
    'check-discover-whitelist':
      task: 'meshblu-core-task-check-discover-whitelist'
      datastoreCollection: 'devices'

EnforceDiscoverAsWhitelist:
  start: 'check-discover-as-protect-your-as'
  tasks:
    'check-discover-as-protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-discover-as-whitelist'
    'check-discover-as-whitelist':
      task: 'meshblu-core-task-check-discover-as-whitelist'
      datastoreCollection: 'devices'

EnforceMessageSentWhitelists:
  start: 'check-message-as-reject-your-as'
  tasks:
    'check-message-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-message-sent'
    'check-whitelist-message-sent':
      task: 'meshblu-core-task-check-whitelist-message-sent'
      datastoreCollection: 'devices'

EnforceReceiveAsWhitelist:
  start: 'check-receive-as-protect-your-as'
  tasks:
    'check-receive-as-protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-receive-as-whitelist'
    'check-receive-as-whitelist':
      task: 'meshblu-core-task-check-receive-as-whitelist'
      datastoreCollection: 'devices'

EnforceReceiveWhitelists:
  start: 'enforce-receive-as-whitelist'
  tasks:
    'enforce-receive-as-whitelist':
      filter: 'EnforceReceiveAsWhitelist'
      on:
        204: 'check-receive-whitelist'
    'check-receive-whitelist':
      task: 'meshblu-core-task-check-receive-whitelist'
      datastoreCollection: 'devices'

EnforceSendAsWhitelist:
  start: 'check-send-as-protect-your-as'
  tasks:
    'check-send-as-protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-send-as-whitelist'
    'check-send-as-whitelist':
      task: 'meshblu-core-task-check-send-as-whitelist'
      datastoreCollection: 'devices'

EnforceSendWhitelists:
  start: 'enforce-send-as-whitelist'
  tasks:
    'enforce-send-as-whitelist':
      filter: 'EnforceSendAsWhitelist'
      on:
        204: 'check-send-whitelist'
    'check-send-whitelist':
      task: 'meshblu-core-task-check-send-whitelist'
      datastoreCollection: 'devices'

HandleDeliverMessage:
  start: 'check-forwarded-for'
  tasks:
    'check-forwarded-for':
      task: 'meshblu-core-task-check-forwarded-for'
      on:
        204: 'publish-message'
    'publish-message':
      task: 'meshblu-core-task-publish-message'
      cacheNamespace: 'meshblu'
      on:
        204: 'publish-subscriptions'
    'publish-subscriptions':
      task: 'meshblu-core-task-publish-subscriptions'
      datastoreCollection: 'subscriptions'
      on:
        204: 'publish-deprecated-subscriptions'
    'publish-deprecated-subscriptions':
      task: 'meshblu-core-task-publish-deprecated-subscriptions'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-webhooks'
    'enqueue-webhooks':
      task: 'meshblu-core-task-enqueue-webhooks'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-deprecated-webhooks'
    'enqueue-deprecated-webhooks':
      task: 'meshblu-core-task-enqueue-deprecated-webhooks'
      datastoreCollection: 'devices'
