Authenticate:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'

DeliverWebhook:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'deliver-webhook'
    'deliver-webhook':
      task: 'meshblu-core-task-deliver-webhook'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'

DeliverMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-send-whitelists'
    'enforce-send-whitelists':
      filter: 'EnforceSendWhitelists'
      on:
        204: 'publish-message'
    'publish-message':
      task: 'meshblu-core-task-publish-message'
      cacheNamespace: 'meshblu'
      on:
        204: 'deliver-subscriptions'
    'deliver-subscriptions':
      task: 'meshblu-core-task-deliver-subscriptions'
      cacheNamespace: 'meshblu'
      on:
        204: 'deliver-subscriptions'
    'forward-webhooks':
      task: 'meshblu-core-task-forward-webhooks'
      cacheNamespace: 'meshblu'

SubscriptionList:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-configure-whitelist'
    'check-configure-whitelist':
      task: 'meshblu-core-task-check-configure-whitelist'
      datastoreCollection: 'devices'
      on:
        204: 'get-subscriptions'
    'get-subscriptions':
      task: 'meshblu-core-task-get-subscriptions'
      datastoreCollection: 'subscriptions'

UpdateDevice:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'check-update-device-is-valid'
    'check-update-device-is-valid':
      task: 'meshblu-core-task-check-update-device-is-valid'
      on:
        204: 'update-device'
    'update-device':
      task: 'meshblu-core-task-update-device'
      datastoreCollection: 'devices'
      on:
        678: 'clear-device-in-cache'
    'clear-device-in-cache':
      task: 'meshblu-core-task-clear-device-in-cache'
      cacheNamespace: 'cache:device'

GetDevice:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-discover-whitelists'
    'enforce-discover-whitelists':
      filter: 'EnforceDiscoverWhitelists'
      on:
        204: 'get-device'
    'get-device':
      task: 'meshblu-core-task-get-device'
      datastoreCollection: 'devices'

GetDevicePublicKey:
  start: 'get-device-public-key'
  tasks:
    'get-device-public-key':
      task: 'meshblu-core-task-get-device-public-key'
      datastoreCollection: 'devices'

SearchDevices:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-discover-as-whitelist'
    'enforce-discover-as-whitelist':
      filter: 'EnforceDiscoverAsWhitelist'
      on:
        204: 'search-devices'
    'search-devices':
      task: 'meshblu-core-task-search-device'
      datastoreCollection: 'devices'
      cacheNamespace: 'cache:device'

SendMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'send-message'
    'send-message':
      task: 'meshblu-core-task-send-message'

RevokeTokenByQuery:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'revoke-token-by-query'
    'revoke-token-by-query':
      task: 'meshblu-core-task-revoke-token-by-query'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'
