Authenticate:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
SubscriptionList:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-configure-whitelist'
    'check-configure-whitelist':
      task: 'meshblu-core-task-check-configure-whitelist'
      datastoreCollection: 'devices'
      on:
        204: 'get-subscriptions'
    'get-subscriptions':
      task: 'meshblu-core-task-get-subscriptions'
      datastoreCollection: 'subscriptions'
