Authenticate:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'

CreateSessionToken:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'create-session-token'
    'create-session-token':
      task: 'meshblu-core-task-create-session-token'
      datastoreCollection: 'devices'
      cacheNamespace: 'meshblu-token-cache'

CreateSubscription:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'create-subscription'
    'create-subscription':
      task: 'meshblu-core-task-create-subscription'
      datastoreCollection: 'subscriptions'

DeliverBroadcastMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-receive-whitelists'
    'enforce-receive-whitelists':
      filter: 'EnforceReceiveWhitelists'
      on:
        204: 'deliver-message'
    'deliver-message':
      filter: 'HandleDeliverMessage'

DeliverBroadcastSent:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'protect-your-as'
    'protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-whitelist-broadcast-as'
    'check-whitelist-broadcast-as':
      task: 'meshblu-core-task-check-whitelist-broadcast-as'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-webhooks-broadcast-sent'
    'enqueue-jobs-for-webhooks-broadcast-sent':
      task: 'meshblu-core-task-enqueue-jobs-for-webhooks-broadcast-sent'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-broadcast-sent'
    'enqueue-jobs-for-subscriptions-broadcast-sent':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-broadcast-sent'
      datastoreCollection: 'subscriptions'

DeliverConfigMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-discover-whitelists'
    'enforce-discover-whitelists':
      filter: 'EnforceDiscoverWhitelists'
      on:
        204: 'deliver-message'
    'deliver-message':
      filter: 'HandleDeliverMessage'

DeliverConfigureSent:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'protect-your-as'
    'protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-whitelist-configure-as'
    'check-whitelist-configure-as':
      task: 'meshblu-core-task-check-whitelist-configure-as'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-webhooks-configure-sent'
    'enqueue-jobs-for-webhooks-configure-sent':
      task: 'meshblu-core-task-enqueue-jobs-for-webhooks-configure-sent'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-configure-sent'
    'enqueue-jobs-for-subscriptions-configure-sent':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-configure-sent'
      datastoreCollection: 'subscriptions'

DeliverMessageSent:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'protect-your-as'
    'protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-whitelist-message-as'
    'check-whitelist-message-as':
      task: 'meshblu-core-task-check-whitelist-message-as'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-webhooks-message-sent'
    'enqueue-jobs-for-webhooks-message-sent':
      task: 'meshblu-core-task-enqueue-jobs-for-webhooks-message-sent'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-message-sent'
    'enqueue-jobs-for-subscriptions-message-sent':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-message-sent'
      datastoreCollection: 'subscriptions'

DeliverMessageReceived:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'protect-your-as'
    'protect-your-as':
      task: 'meshblu-core-task-protect-your-as'
      on:
        204: 'check-whitelist-message-as'
    'check-whitelist-message-as':
      task: 'meshblu-core-task-check-whitelist-message-as'
      datastoreCollection: 'devices'
      on:
        204: 'check-whitelist-message-from'
    'check-whitelist-message-from':
      task: 'meshblu-core-task-check-whitelist-message-from'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-message-received'
    'enqueue-jobs-for-subscriptions-message-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-message-received'
      datastoreCollection: 'subscriptions'

DeliverReceivedMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-send-whitelists'
    'enforce-send-whitelists':
      filter: 'EnforceSendWhitelists'
      on:
        204: 'deliver-message'
    'deliver-message':
      filter: 'HandleDeliverMessage'

DeliverSentMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-send-whitelists'
    'enforce-send-whitelists':
      filter: 'EnforceSendWhitelists'
      on:
        204: 'deliver-message'
    'deliver-message':
      filter: 'HandleDeliverMessage'

DeliverSubscriptionBroadcastReceived:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-broadcast-as-reject-your-as'
    'check-broadcast-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-broadcast-received'
    'check-whitelist-broadcast-received':
      task: 'meshblu-core-task-check-whitelist-broadcast-received'
      datastoreCollection: 'devices'
      on:
        204: 'publish-broadcast-received'
    'publish-broadcast-received':
      task: 'meshblu-core-task-publish-broadcast-received'
      cacheNamespace: 'messages'
      on:
        204: 'enqueue-jobs-for-webhooks-broadcast-received'
    'enqueue-jobs-for-webhooks-broadcast-received':
      task: 'meshblu-core-task-enqueue-jobs-for-webhooks-broadcast-received'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-broadcast-received'
    'enqueue-jobs-for-subscriptions-broadcast-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-broadcast-received'
      datastoreCollection: 'subscriptions'

DeliverSubscriptionBroadcastSent:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-message-as-reject-your-as'
    'check-message-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-broadcast-sent'
    'check-whitelist-broadcast-sent':
      task: 'meshblu-core-task-check-whitelist-broadcast-sent'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-broadcast-received'
    'enqueue-jobs-for-subscriptions-broadcast-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-broadcast-received'
      datastoreCollection: 'subscriptions'

DeliverSubscriptionConfigureReceived:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-configure-as-reject-your-as'
    'check-configure-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-configure-received'
    'check-whitelist-configure-received':
      task: 'meshblu-core-task-check-whitelist-configure-received'
      datastoreCollection: 'devices'
      on:
        204: 'publish-configure-received'
    'publish-configure-received':
      task: 'meshblu-core-task-publish-configure-received'
      cacheNamespace: 'messages'
      on:
        204: 'enqueue-jobs-for-webhooks-configure-received'
    'enqueue-jobs-for-webhooks-configure-received':
      task: 'meshblu-core-task-enqueue-jobs-for-webhooks-configure-received'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-configure-received'
    'enqueue-jobs-for-subscriptions-configure-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-configure-received'
      datastoreCollection: 'subscriptions'

DeliverSubscriptionConfigureSent:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-configure-as-reject-your-as'
    'check-configure-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-configure-sent'
    'check-whitelist-configure-sent':
      task: 'meshblu-core-task-check-whitelist-configure-sent'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-configure-received'
    'enqueue-jobs-for-subscriptions-configure-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-configure-received'
      datastoreCollection: 'subscriptions'

DeliverSubscriptionMessageReceived:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-message-as-reject-your-as'
    'check-message-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-message-received'
    'check-whitelist-message-received':
      task: 'meshblu-core-task-check-whitelist-message-received'
      datastoreCollection: 'devices'
      on:
        204: 'publish-message-received'
    'publish-message-received':
      task: 'meshblu-core-task-publish-message-received'
      cacheNamespace: 'messages'
      on:
        204: 'enqueue-jobs-for-webhooks-message-received'
    'enqueue-jobs-for-webhooks-message-received':
      task: 'meshblu-core-task-enqueue-jobs-for-webhooks-message-received'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-message-received'
    'enqueue-jobs-for-subscriptions-message-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-message-received'
      datastoreCollection: 'subscriptions'

DeliverSubscriptionMessageSent:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-message-as-reject-your-as'
    'check-message-as-reject-your-as':
      task: 'meshblu-core-task-reject-your-as'
      on:
        204: 'check-whitelist-message-sent'
    'check-whitelist-message-sent':
      task: 'meshblu-core-task-check-whitelist-message-sent'
      datastoreCollection: 'devices'
      on:
        204: 'enqueue-jobs-for-subscriptions-message-received'
    'enqueue-jobs-for-subscriptions-message-received':
      task: 'meshblu-core-task-enqueue-jobs-for-subscriptions-message-received'
      datastoreCollection: 'subscriptions'

DeliverWebhook:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'deliver-webhook'
    'deliver-webhook':
      task: 'meshblu-core-task-deliver-webhook'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'

GetAuthorizedSubscriptionTypes:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'get-authorized-subscription-types'
        403: 'enforce-receive-whitelists'
    'enforce-receive-whitelists':
      filter: 'EnforceReceiveWhitelists'
      on:
        204: 'get-broadcast-subscription-types'
    'get-broadcast-subscription-types':
      task: 'meshblu-core-task-get-broadcast-subscription-types'
    'get-authorized-subscription-types':
      task: 'meshblu-core-task-get-authorized-subscription-types'

GetDevice:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-discover-whitelists'
    'enforce-discover-whitelists':
      filter: 'EnforceDiscoverWhitelists'
      on:
        204: 'get-device'
    'get-device':
      task: 'meshblu-core-task-get-device'
      datastoreCollection: 'devices'

GetDevicePublicKey:
  start: 'get-device-public-key'
  tasks:
    'get-device-public-key':
      task: 'meshblu-core-task-get-device-public-key'
      datastoreCollection: 'devices'

GetGlobalPublicKey:
  start: "get-global-public-key"
  tasks:
    'get-global-public-key':
      task: 'meshblu-core-task-get-global-public-key'

GetStatus:
  start: 'get-status'
  tasks:
    'get-status':
      task: 'meshblu-core-task-get-status'

SearchDevices:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-discover-as-whitelist'
    'enforce-discover-as-whitelist':
      filter: 'EnforceDiscoverAsWhitelist'
      on:
        204: 'search-devices'
    'search-devices':
      task: 'meshblu-core-task-search-device'
      datastoreCollection: 'devices'
      cacheNamespace: 'cache:device'

SendMessage:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'send-message'
    'send-message-2':
      task: 'meshblu-core-task-send-message-2'
      on:
        204: 'send-message-2'
    'send-message':
      task: 'meshblu-core-task-send-message'

SendMessage2:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'send-message-2'
    'send-message-2':
      task: 'meshblu-core-task-send-message-2'

SubscriptionList:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'check-configure-whitelist'
    'check-configure-whitelist':
      task: 'meshblu-core-task-check-configure-whitelist'
      datastoreCollection: 'devices'
      on:
        204: 'get-subscriptions'
    'get-subscriptions':
      task: 'meshblu-core-task-get-subscriptions'
      datastoreCollection: 'subscriptions'

RegisterDevice:
  start: 'register-device'
  tasks:
    'register-device':
      task: 'meshblu-core-task-register-device'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'

RemoveSubscription:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'remove-subscription'
    'remove-subscription':
      task: 'meshblu-core-task-remove-subscription'
      datastoreCollection: 'subscriptions'

ResetToken:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'reset-token'
    'reset-token':
      task: 'meshblu-core-task-reset-token'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'

RevokeSessionToken:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'revoke-session-token'
    'revoke-session-token':
      task: 'meshblu-core-task-revoke-session-token'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'

RevokeTokenByQuery:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'revoke-token-by-query'
    'revoke-token-by-query':
      task: 'meshblu-core-task-revoke-token-by-query'
      cacheNamespace: 'meshblu-token-cache'
      datastoreCollection: 'devices'

UnregisterDevice:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'unregister-device'
    'unregister-device':
      task: 'meshblu-core-task-unregister-device'
      datastoreCollection: 'devices'
      on:
        204: 'remove-device-cache'
    'remove-device-cache':
      task: 'meshblu-core-task-remove-device-cache'
      cacheNamespace: 'cache:device'

UpdateDevice:
  start: 'authenticate'
  tasks:
    'authenticate':
      filter: 'Authenticate'
      on:
        204: 'enforce-configure-whitelists'
    'enforce-configure-whitelists':
      filter: 'EnforceConfigureWhitelists'
      on:
        204: 'check-update-device-is-valid'
    'check-update-device-is-valid':
      task: 'meshblu-core-task-check-update-device-is-valid'
      on:
        204: 'update-device'
    'update-device':
      task: 'meshblu-core-task-update-device'
      datastoreCollection: 'devices'
      on:
        204: 'remove-device-cache'
    'remove-device-cache':
      task: 'meshblu-core-task-remove-device-cache'
      cacheNamespace: 'cache:device'
